version: 2.1
orbs:
  codecov: codecov/codecov@3.2.4
jobs:
  build:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install local dependencies
          command: npm install
      - run:
          name: Testing
          command: npm run test
      - codecov/upload
workflows:
  main-workflow:
    jobs:
      - build
          